.speech
{
     font-family: 'Arial Narrow';
     font-size: 14px;
     color: aqua;

}
.name
{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size:2px;
    color:bisque;
}
.direction
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:20px;
    color:brown;
}  
.direction:hover
{
    color:blueviolet;
    background-color:black;
}
.ANT
{
    color:rgb(236, 236, 21);
}  
.OED
{
    color:cornflowerblue;

} 
.CH
{
    color:hsl(328, 100%, 54%);
} 


<table>
<tr>
<th>Character</th>
<th>Actor</th>
<th>Understudy</th>
</tr>
<tr>
<td>Antigone</td>
<td>Emma Watson</td>
<td>Saoirse Ronan</td>
</tr>
</table>
